body {
    font-family: 'Poppins', sans-serif;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
/* WhatsApp Button */
.btn-whatsapp {
    background: #dbe5c2;
    color: #1e441e;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
}

.btn-whatsapp:hover {
    background: #cdd8b3;
    color: #1e441e;
}

.produk-button {
    color: #000000;
    padding: 10px -20px;
    border-radius: 5px;
    border: 1px solid #E4947D;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 5px;
    text-decoration: none;
}

.produk-button:hover {
    background: #f0baab;
    transform: scale(1.05);
    color: #fff;
    font-weight: 600;
}

