body {
    font-family: 'Poppins', sans-serif;
}

.custom-navbar {
    background-color: #faf3d6;
    padding: 18px 0;
}

.hero-section {
  background-color: #FAF3D6;
  padding: 3rem 0;  
  position: relative;
  overflow: hidden;
  min-height: 400px;
}

.nav-link.active {
    border-bottom: 3px solid #c0392b;
    font-weight: 700;
}

/* WhatsApp Button */
.btn-whatsapp {
    background: #dbe5c2;
    color: #1e441e;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
}

.btn-whatsapp:hover {
    background: #cdd8b3;
    color: #1e441e;
}

.footer {
    background-color: #faf3d6;
}

.footer ul li {
    margin-bottom: 6px;
}

.copyright {
    background-color: #e8ddbe;
}

