body {
    font-family: 'Poppins', sans-serif;
}

/* HERO */
.hero-section {
    position: relative;
    height: 30px; /* Sesuaikan tinggi sesuai kebutuhan */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-section .carousel,
.hero-section .carousel-inner,
.hero-section .carousel-item {
    height: 100%;
}

.hero-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
}

.hero-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    margin-top: 40px;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: bold;}

.hero-content p {
    font-size: 18px;
    margin-bottom: 35px;
}
.hero-section {
    position: relative;
    height: 100vh;
    margin-top: -90px; /* SESUAIKAN DENGAN TINGGI NAVBAR-MU */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0;
}

.hero-btn-primary {
    background: #E4947D;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 5px;
    text-decoration: none;
}

.hero-btn-primary:hover {
    background: #f0baab;
    transform: scale(1.05);
}

.filter-btn {
    border: 1px solid #E4947D;
    padding: 6px 18px;
}

.filter-btn.active,
.filter-btn:hover {
    background: #f0baab;
    color: #fff;
}

.product-card img {
    height: 220px;
    object-fit: cover;
}

.produk-button {
    color: #000000;
    padding: 10px -20px;
    border-radius: 5px;
    border: 1px solid #E4947D;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 5px;
    text-decoration: none;
}

.produk-button:hover {
    background: #f0baab;
    transform: scale(1.05);
    color: #fff;
    font-weight: 600;
}
