.navbar {
  background-color: #FAF3D6;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px ;
  color: #000000;
  margin-left: 1rem;
}

.navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px ;
  color: #000000;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #E4947D;
}

.navbar-nav .nav-link.active {
  color: #000000;
  border-bottom: 4px solid #E4947D;
}

/* Hapus background default bootstrap */
.navbar {
    background-color: transparent;
    box-shadow: none;
}

/* Transparan saat di atas */
.custom-navbar {
    background: rgba(255, 255, 255, 0);
    transition: 0.3s ease;
}

/* Warna muncul saat scroll */
.custom-navbar.scrolled {
    background: #FAF3D6;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


